Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g4, pull requests merged in 2022-10, with the labels that each got.

#34 Allow collaboration between peers
  backend/collaboration-service/src/sockets/pubsub-socket.js
  backend/collaboration-service/src/sockets/room-socket.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/CodeBox.js
  frontend/src/components/dialogs/Prompt.js
  frontend/src/pages/DifficultySelector.js
  frontend/src/pages/LoadingPage.js
  frontend/src/pages/LoginPage.js
  frontend/src/pages/RoomPage.js
Labels: collaboration service

#35 Add code saving feature
  backend/collaboration-service/src/models/room-model.js
  backend/collaboration-service/src/models/room-orm.js
  backend/collaboration-service/src/routes/routes.js
  backend/collaboration-service/src/service/controller.js
  backend/collaboration-service/src/service/service.js
  backend/collaboration-service/src/sockets/room-socket.js
  frontend/src/components/CodeBox.js
  frontend/src/pages/RoomPage.js
Labels: collaboration service

#37 Update and add test cases for matching-service
  backend/matching-service/package-lock.json
  backend/matching-service/package.json
  backend/matching-service/src/index.js
  backend/matching-service/src/model/match-orm.js
  backend/matching-service/src/service/controller.js
  backend/matching-service/src/service/matcher.js
  backend/matching-service/src/sockets/pubsub-socket.js
  backend/matching-service/test/test.js
Labels: matching service

#39 Branch user authenticate
  backend/user-service/config/config.js
  backend/user-service/index.js
  backend/user-service/package-lock.json
  backend/user-service/package.json
  frontend/src/App.js
  frontend/src/components/buttons/ChangePasswordButton.js
  frontend/src/components/buttons/DeleteUserButton.js
  frontend/src/components/buttons/UpdateUsernameButton.js
  frontend/src/components/user/Profile.js
  frontend/src/pages/ChangePasswordPage.js
  frontend/src/pages/DashBoard.js
  frontend/src/pages/ProfilePage.js
Labels: user service

#53 Add logic to detect user activity for collaboration
  backend/collab-service/src/sockets/session-socket.js
  frontend/src/pages/RoomPage.js
Labels: collaboration service

#62 Add tests for pubsub, room and collab
  backend/collab-service/package-lock.json
  backend/collab-service/package.json
  backend/collab-service/run.sh
  backend/collab-service/src/index.js
  backend/collab-service/src/models/session-orm.js
  backend/collab-service/src/service/controller.js
  backend/collab-service/src/service/service.js
  backend/collab-service/src/sockets/pubsub-socket.js
  backend/collab-service/src/sockets/session-socket.js
  backend/collab-service/test/mock-pubsub.js
  backend/collab-service/test/test.js
  backend/matching-service/run.sh
  backend/pubsub-service/package-lock.json
  backend/pubsub-service/package.json
  backend/pubsub-service/run.sh
  backend/pubsub-service/src/sockets/pubsub-socket.js
  backend/pubsub-service/test/test.js
  backend/question-service/run.sh
  backend/room-service/package-lock.json
  backend/room-service/package.json
  backend/room-service/run.sh
  backend/room-service/src/index.js
  backend/room-service/src/models/room-orm.js
  backend/room-service/src/routes/routes.js
  backend/room-service/src/service/controller.js
  backend/room-service/src/service/question.js
  backend/room-service/test/mock-pubsub.js
  backend/room-service/test/test.js
  backend/user-service/package.json
  backend/user-service/run.sh
  frontend/package.json
  frontend/src/pages/RoomPage.js
  run-tests.sh
Labels: collaboration service, room service, pubsub

#64 Add collab history endpoint, completion prompt, fix user endpoint to get peer's username
  .github/workflows/ci-tests.yaml
  backend/collab-service/src/models/session-model.js
  backend/collab-service/src/sockets/session-socket.js
  backend/question-service/main.py
  backend/room-service/.env.example
  backend/room-service/src/configs/config.js
  backend/room-service/src/service/caller.js
  backend/room-service/src/service/controller.js
  backend/room-service/src/service/question.js
  backend/room-service/src/service/service.js
  backend/user-service/package-lock.json
  backend/user-service/package.json
  backend/user-service/src/controller/controller.js
  backend/user-service/src/index.js
  frontend/.env.example
  frontend/src/components/CodeBox.js
  frontend/src/components/QuestionBox.js
  frontend/src/components/buttons/ChangePasswordButton.js
  frontend/src/components/buttons/DeleteUserButton.js
  frontend/src/components/buttons/UpdateUsernameButton.js
  frontend/src/configs.js
  frontend/src/pages/DifficultySelector.js
  frontend/src/pages/RoomPage.js
  run-dos2unix.sh
Labels: user service, collaboration service, frontend, room service
